
.LandingPage {
  border:1px solid white;
}



.LandingPage .active{
  color: red;
}
.LandingPage .custom-count {
  padding: 0;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}
.LandingPage .customcount li{
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid;
  border-radius: 0.2em;
}
