.Headstyle{
  background:rgba(233, 230, 230, 0.5);
  height:85px;
  line-height: 85px;
  position: relative;
  left: 180px;
  text-align: center;
 
 
}
.Headspan{
  position: relative;
  left: -75px;
 
  margin:0;
  padding:0;
  min-width: 580px;
  font-size: 40px;
  color: rgb(27, 126, 219);
  font-weight: bold;
  white-space: nowrap;

}
.asideName{
  position: fixed;
  margin-top:-85px;
  width:180px;
  min-height:100%;

  background:rgba(214, 209, 209, 0.5);
}
.asideName ul{
  height:520px;
  width:178px;
  list-style: none;

  margin: 0;
  padding: 0;
  padding-top:30px;
  text-align: center;
  background-color: rgb(200,228,255);
}
.asideName ul li{
  margin: 10px auto;
  height: 40px;
}
.asideName ul li:hover{
  background-color: whitesmoke;
}
.mainName{
  margin-left: 180px;
  padding-bottom: 32px;
}
.Slider{
  padding-top:20px;
  background:rgba(250, 247, 247,0.8);
}
.Menu{
  width:200px;
  margin-left: 10px;
}
.Item{
  font-size: 23px;
  color:black;
}
.footme{
  text-align: center;
  position:fixed;
   bottom:0px;
  width:100%;
   padding:10px 25px;
   background:rgba(214, 209, 209, 1);

}
/*
export default withRouter(function(props) {
  async function logout() {
    await api.get('/logout')
    userInfoFetcher.clearCache()
    props.history.push('/')
  }
  return(
    <div style={{height:"100%",background:"white"}}>
    <Layout  style={{width:"100%",height:"100%",background:"white"}} >
    <Sider className={style.Slider}
      breakpoint="lg"
      collapsedWidth="0"
      onBreakpoint={broken => {
        console.log(broken);
      }}
      onCollapse={(collapsed, type) => {
        console.log(collapsed, type);
      }}
    >
       <div style={{textAlign:"center",fontSize:"24px",color:"blue",padding:"20px 10px"}}> <span style={{fontSize:"28px",color:"black",fontWeight:"bold"}}>欢迎来到:</span>
        <Suspense fallback={<div>loading...</div>}>
        <RestaurantInfo  />
       </Suspense>
        </div>
      <div className="logo" />
      <Menu className={style.Menu} theme="light" mode="inline" defaultSelectedKeys={['4']}>
       
        <Menu.Item key="1" style={{paddingLeft:"32px"}} >
          <Icon type="user" />
          <span className="nav-text"> <Link className={style.Item} to="order">订单管理</Link></span>
        </Menu.Item>
        <Menu.Item key="2">
          <Icon type="video-camera" />
          <span className="nav-text"> <Link className={style.Item} to="food">菜品管理</Link></span>
        </Menu.Item>
        <Menu.Item key="3">
          <Icon type="upload" />
          <span className="nav-text"><Link className={style.Item} to="desk">桌面管理</Link></span>
        </Menu.Item>
        <Menu.Item key="4">
          <Icon type="user" />
          <span className="nav-text" className={style.Item} onClick={logout}>&nbsp;退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</span>
        </Menu.Item>
      </Menu>
    </Sider>
    <Layout style={{marginBottom:"50px",background:"white"}}>
      <Header className={style.Headstyle} >
      <span style={{whiteSpace:"nowrap"}}>Welcome to your restaurant!</span>
      </Header>
      <Content style={{ margin: '24px 16px 0',height:"100%" }}>
        <div style={{ padding: 24,paddingBottom:"40px", background: '#fff', height:"100%" }}>
       xxxxx
      <main >
      <Switch>
          <Route path="/restaurant/:rid/manage/order" component={OrderManage}/>
          <Route path="/restaurant/:rid/manage/food" component={FoodManage}/>
          <Route path="/restaurant/:rid/manage/desk" component={DeskManage}/>
          <Route path="/restaurant/:rid/manage/add-food" component={AddFood}/>
        </Switch>
      </main> 
        </div>
      </Content>
      </Layout>
      <Footer style={{ textAlign: 'center',position:"fixed",bottom:'0px',width:"100%",padding:"10px 25px"}}>Ant Design ©2018 Created by Ant UED</Footer>
  
  </Layout>

      
    </div>
  )

})
*/