.Headstyle{
  background:rgba(233, 230, 230, 0.5);
  height:85px;
  line-height: 85px;
  position: relative;
  text-align: center;
}
.Headspan{
  position: relative;
  left: -50px;
  margin:0;
  padding:0;
  min-width: 580px;
  font-size: 40px;
  color: rgb(27, 126, 219);
  font-weight: bold;
  white-space: nowrap;

}


.Slider{
  
  background:rgba(200,228,255,0.3);
}
.Menu{
  padding-top:20px;
width:200px;
padding-left: 10px;

}

.Item{
  font-size: 20px;
  height:50px;
  color:rgb(95, 129, 207);
  font-weight:normal;;
}
.mained{
  background-image: url(https://5b0988e595225.cdn.sohucs.com/images/20190919/82f9dc5fd0aa47fe8e206e0dd3c340cb.jpeg);
  background-size: auto 140%;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
 
}


/*
export default withRouter(function(props) {
  async function logout() {
    await api.get('/logout')
    userInfoFetcher.clearCache()
    props.history.push('/')
  }
  return(
    <div style={{height:"100%",background:"white"}}>
    <Layout  style={{width:"100%",height:"100%",background:"white"}} >
    <Sider className={style.Slider}
      breakpoint="lg"
      collapsedWidth="0"
      onBreakpoint={broken => {
        console.log(broken);
      }}
      onCollapse={(collapsed, type) => {
        console.log(collapsed, type);
      }}
    >
       <div style={{textAlign:"center",fontSize:"24px",color:"blue",padding:"20px 10px"}}> <span style={{fontSize:"28px",color:"black",fontWeight:"bold"}}>欢迎来到:</span>
        <Suspense fallback={<div>loading...</div>}>
        <RestaurantInfo  />
       </Suspense>
        </div>
      <div className="logo" />
      <Menu className={style.Menu} theme="light" mode="inline" defaultSelectedKeys={['4']}>
       
        <Menu.Item key="1" style={{paddingLeft:"32px"}} >
          <Icon type="user" />
          <span className="nav-text"> <Link className={style.Item} to="order">订单管理</Link></span>
        </Menu.Item>
        <Menu.Item key="2">
          <Icon type="video-camera" />
          <span className="nav-text"> <Link className={style.Item} to="food">菜品管理</Link></span>
        </Menu.Item>
        <Menu.Item key="3">
          <Icon type="upload" />
          <span className="nav-text"><Link className={style.Item} to="desk">桌面管理</Link></span>
        </Menu.Item>
        <Menu.Item key="4">
          <Icon type="user" />
          <span className="nav-text" className={style.Item} onClick={logout}>&nbsp;退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</span>
        </Menu.Item>
      </Menu>
    </Sider>
    <Layout style={{marginBottom:"50px",background:"white"}}>
      <Header className={style.Headstyle} >
      <span style={{whiteSpace:"nowrap"}}>Welcome to your restaurant!</span>
      </Header>
      <Content style={{ margin: '24px 16px 0',height:"100%" }}>
        <div style={{ padding: 24,paddingBottom:"40px", background: '#fff', height:"100%" }}>
       xxxxx
      <main >
      <Switch>
          <Route path="/restaurant/:rid/manage/order" component={OrderManage}/>
          <Route path="/restaurant/:rid/manage/food" component={FoodManage}/>
          <Route path="/restaurant/:rid/manage/desk" component={DeskManage}/>
          <Route path="/restaurant/:rid/manage/add-food" component={AddFood}/>
        </Switch>
      </main> 
        </div>
      </Content>
      </Layout>
      <Footer style={{ textAlign: 'center',position:"fixed",bottom:'0px',width:"100%",padding:"10px 25px"}}>Ant Design ©2018 Created by Ant UED</Footer>
  
  </Layout>

      
    </div>
  )

})
*/
/*export default withRouter(function(props) {
  async function logout() {
    await api.get('/logout')
    userInfoFetcher.clearCache()
    props.history.push('/')
  }
  return(
   <div style={{minHeight:"100%",width:"100%",position:"relative",}}>
  <div className={style.Headstyle}>
     <span className={style.Headspan}>Welcome to your restaurant!</span> 
  </div>
  <aside className={style.asideName}>
    <div style={{position:"fixed"}}>
    <div style={{textAlign:"center",fontSize:"24px",color:"blue",padding:"20px 10px"}}> <span style= {{fontSize:"28px",color:"black",fontWeight:"bold"}}>欢迎来到:</span>
        <Suspense fallback={<div>loading...</div>}>
        <RestaurantInfo  />
       </Suspense>
        </div>
      <ul>
       <li> <Link className={style.Item} to="order">订单管理</Link></li>
       <li>  <Link className={style.Item} to="food">菜品管理</Link></li>
       <li> <Link className={style.Item} to="desk">桌面管理</Link></li>
       <li  className={style.Item} onClick={logout}>&nbsp;退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</li>
      </ul>
 


 </div>
  </aside>
      <main className={style.mainName} >xxxxxxxxxxxxxx
      <Switch>
          <Route path="/restaurant/:rid/manage/order" component={OrderManage}/>
          <Route path="/restaurant/:rid/manage/food" component={FoodManage}/>
          <Route path="/restaurant/:rid/manage/desk" component={DeskManage}/>
          <Route path="/restaurant/:rid/manage/add-food" component={AddFood}/>
        </Switch>
      </main> 
      <Footer className={style.footme} >Ant Design ©2018 Created by Ant UED</Footer>
  
  </div>
  )

})*/